.mobil {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: #fff;
    /* considerable whitespace surrounding the navigation's items */
    padding: 5px;
    border-radius: 30px 30px 0 0 ;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}
.mobil a {
    color: inherit;
    text-decoration: none;
    /* display the svg icon and span elements side by side, vertically aligned */
    display: flex;
    align-items: center;
    /* include padding for the background applied on the active item */
    padding: 10px;
    /* include padding for the background applied on the active item */
    border-radius: 30px;
    /* position relative for the pseudo element */
    position: relative;
    /* custom properties for the colors picked up by the elements when clicked (and updated for each link in the script) */

}

a svg {
    margin-right: -2.5rem;
    width: 28px;
    height: 28px;
    pointer-events: none;
    /* transition for the change in margin */
    transition: margin 0.2s ease-out;
}

a span {
    opacity: 0;
    visibility: hidden;
    font-size: 0.9rem;
    margin-left: 0.9rem;
}
.mobil a:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 70px;
    border-radius: 50%;
    /* positioned to the left of the anchor link and scaled to 0 */
    transform: translate(0%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
}
.mobil a:active:before {
    opacity: 0;
    visibility: hidden;
    transform: translate(0%, -50%) scale(2);
    /* transition only when the class is applied */
    transition: all 0.4s ease-out;
}
.mobil a:active{

}

a:active svg {
    margin-right: 0;
}

/* Home link */

a.page_active svg {
    margin-right: -2.5rem;
    width: 28px;
    height: 28px;
    pointer-events: none;
    /* transition for the change in margin */
    transition: margin 0.2s ease-out;
}
a.page_active span {
    opacity: 0;
    visibility: hidden;
    font-size: 0.9rem;
    margin-left: 0.9rem;
}

.mobil a .page_active:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 70px;
    border-radius: 50%;
    /* positioned to the left of the anchor link and scaled to 0 */
    transform: translate(0%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
}
.mobil a .page_active:active:before {
    opacity: 0;
    visibility: hidden;
    transform: translate(0%, -50%) scale(2);
    /* transition only when the class is applied */
    transition: all 0.4s ease-out;
}
.mobil a.page_active{
    background: #5B37B720;
    color: #5B37B7;
}
a.page_active:active svg {
    margin-right: 0;
}

a.page_active span {
    opacity:1;
    visibility: visible;
    margin-left: 2.9rem;
    transition: all 0.2s ease-out;
}

/* Articles link */

.mobil a.articles{
    background: #C9379D20;
    color: #C9379D;
}

.mobil a.contact{
    background: #E6A91920;
    color: #E6A919;
}
.mobil a.profil{
    background: #1892A620;
    color: #1892A6;
}



/* header */


div.screen{
    overflow:hidden;
    top:50px;
    left:50%;
    margin-left:-160px;
}

div.burger {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 11px;
    left: 21px;
    cursor: pointer;
}
div.x,
div.y,
div.z {
    position: absolute; margin: auto;
    top: 0px; bottom: 0px;
    background: #000000;
    border-radius:2px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
div.z{left: 15px}
div.x, div.y, div.z { height: 2px; }
div.x{width: 15px}
div.y{width: 30px}
div.z{width: 15px}
div.y{top: 18px;}
div.z{top: 37px;}


div.rotate30{
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
}
div.rotate150{
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
}
div.rotate45{
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}
div.rotate135{
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

div.navbar{height:73px;}

div.circle{
    /*border-radius: 50%;

     */
    width: 0px;
    height: 0px;
    position:absolute;
    z-index: 1;
    top: 35px;
    left: 36px;
    background:#fff;
    opacity:1;
    -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
div.circle.expand{
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
    -webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

}
div.menu {
    height: 568px;
    width: 320px;
    position: absolute;
    top: 0px; left: 0px;
}
div.menu ul li {
    z-index: 2;
    list-style: none;
    position:absolute;
    top:50px;;
    left:0;
    opacity:0;
    width:320px;
    text-align:center;
    font-size:0px;
    -webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
div.menu ul li a {
    color:#4a89dc;
    text-decoration:none;
    letter-spacing:3px;
}

div.menu li.animate{
    font-size:21px;
    opacity:1;
    -webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
div.menu li.animate:nth-of-type(1){
    top:120px;
    transition-delay: 0.0s;
}
div.menu li.animate:nth-of-type(2){
    top:190px;
    transition-delay: 0.03s;

}
div.menu li.animate:nth-of-type(3){
    top:260px;
    transition-delay: 0.06s;

}
div.menu li.animate:nth-of-type(4){
    top:330px;
    transition-delay: 0.09s;

}
div.menu li.animate:nth-of-type(5){
    top:400px;
    transition-delay: 0.12s;

}
div.menu li.animate:nth-of-type(6){
    top:470px;
    transition-delay: 0.15s;

}
