h1{
    font-family: 'Yeseva One', cursive;
    color: white;
}

h2{
    font-family: 'Khand', sans-serif;
}
p{
    font-family: 'Fjalla One', sans-serif;
}

/*
font-family: 'Khand', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'Fjalla One', sans-serif;
 */

.header_home{
    height: 1000px;
    background-image: url("../../public/img/test.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    margin: 50px;
}

.header_home h1{
    padding-top: 25px;
}