/* Général */
* {
    box-sizing: border-box;
}
body{
    /*
    background: rgb(199,234,253);
    background: linear-gradient(135deg, rgba(199,234,253,1) 0%, rgba(211,235,206,1) 42%, rgba(230,236,125,1) 73%, rgba(252,238,33,1) 100%);
    */
    background-color: #F4F4F4;

    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    padding: 10px 10px 0 15px;
}
h2{font-family: 'Yeseva One', cursive;font-size: 1.8rem; color: #000000;}
h2 span{
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    padding: 10px 10px 0 15px;
}
h2 span:after,
h2 span:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 30%;
    top: 60%;
    right: 130%;
    background: #FFFFFF;
}
h2 span:after { left: 100%; }
h3{font-family: 'Francois One', sans-serif;font-size: 1.4rem; color: #000000;}
p{font-family: 'News Cycle', sans-serif;font-size: 1rem}
h5{font-family: 'News Cycle', sans-serif;font-size: 0.8rem; color: #000000;}
h4{font-family: 'News Cycle', sans-serif;font-size: 1.2rem; color: #000000;}


/* Home Page */

.home_container{padding: 0;margin: 0;}

.card_theme{
    margin: 10px 10px;
    padding: 5px;
    background : #ffffff;
    border-radius : 20px;
    -moz-border-radius : 20px;
    -webkit-border-radius : 20px;
    display: flex;
    flex-direction: row-reverse;
}

.card_theme_text{position: absolute; padding: 30px;}
.card_theme_text a{color: #000000; }
.card_theme_text p a{color: #000000; font-weight: bold}
.card_theme_text p{padding-bottom: 10px}
.card_theme_img img{width: 80px;height: 320px;}


/* Home Page - Card Article */

.home_card_article {
    background-color: #FFFFFF;
    padding: 5px 0 5px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;  // IE 10+
overflow: -moz-scrollbars-none;  // Firefox
}

.home_card_article::-webkit-scrollbar{display: none;}

.card_article {
    flex: 0 0 auto;
    margin: 10px 10px;
    padding: 15px;
    border-radius : 20px;
    -moz-border-radius : 20px;
    -webkit-border-radius : 20px;
    border: none;
    background : #c7eafd;
    width: 80%;
}

.card_article a{color: #000000 }


/* Single Page */
.card{border: none}
.card-body{
    background-color: #F4F4F4;
    margin: 5px;
    border-radius : 20px;
    -moz-border-radius : 20px;
    -webkit-border-radius : 20px;
}
.card_theme_text_single{padding: 10px;}
.card_theme_text_single a{
    border-bottom: 10px solid #F4F4F4;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: 'News Cycle', sans-serif;
    font-size: 1rem;
    color: #000000;
}
.card_theme_text_single a:hover{
    font-family: 'News Cycle', sans-serif;
    font-size: 1rem; color: #000000;
    text-decoration: none
}
.accordion{margin-top: 20px}
.card-header{
    background-color: #FFFFFF;
    padding: 0px;
    border: none;
}
.btn-link{font-family: 'Francois One', sans-serif;font-size: 1.5rem; color: #000000;padding: 0px}
.btn-link:hover{font-family: 'Francois One', sans-serif;font-size: 1.5rem; color: #000000;padding: 0px; text-decoration: none}
.collapse h3{padding-top: 10px}
.btn-link span {padding-left: 20px}

.form_comment {margin: 5px;}
.form_comment input, textarea {
    overflow: hidden;
    border: none;
    background-color: #F4F4F4;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'News Cycle', sans-serif;
    font-size: 1rem
}
.form_comment textarea{height: 100px}
